*{
    margin: 0%;
    padding: 0%;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(19, 5, 75);
}
nav{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#left{
    font-size: 1.7rem;
}
nav ul{
    display: flex;
    justify-content: center;

}
nav ul li{
    list-style: none;
    margin: 0 23px;
    font-size: 1.1rem;
    font-weight: 500;

}
nav ul li a{
    text-decoration: none;
    color: rgb(14, 3, 53);
}
nav ul li :hover{
    color: rgb(3, 7, 212);
    font-weight: 550;
    text-decoration: underline;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    color: aliceblue;
}
.leftsection{
    width: 380px;
    height: 290px;
    margin-top: 110px;
    margin-left: 80px;
    font-size: 2.1rem;

}
.purple{
    color: rgb(177, 98, 250);
}

.rightsection{
    width: 650px;
    height: 290px;
    margin-top: 20px;
}
.rightsection img{
    height: 330px;
    margin: 30px;
    margin-left: 180px;
}
#element{
    color: rgb(177, 98, 250);
}
main hr{
    border: 0;
    margin-left: 60px;
    margin-right: 60px;
    background: rgb(163, 163, 254);
    height: 1.3px;
    margin-bottom: 40px;
}
.secondsection{
    height: 340px;
}
.secondsection p{
    color: aliceblue;
    width: 300px;
    margin-left: 100px;
    margin-top: 4px;
    font-size: 17px;
    font-weight: 900;
}
.text-gray{
    color: gray;
    margin-left: 100px;
    font-size: 11px;
}
.secondsection .box{
    width: 950px;
    height: 1px;
    background-color: aliceblue;
    margin-left: 100px;
    margin-top: 60px;
    display: flex;
}
.secondsection .vertical{
    width: 1px;
    height: 80px;
    background-color: aliceblue;
    margin-left: 100px;
}
.vertical img{
    position: relative;
    width: 30px;
    top: -32px;
    left: -14px;
}
.vertical-text{
    color: aliceblue;
    position: relative;
    top: 50px;
    right: 24px;
}
.vertical #jsimg{
    position: relative;
    top: -45px;
}
footer{
    height: 250px;
    width: 100%;
    background-color: rgb(2, 2, 87);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}
.line-break{
    height: 130px;
    background-color: rgb(6, 116, 211);
    width: 1.6px;
}
.footer-first{
    width: 250px;
    font-size: 20px;
    margin-top: 8px;
}
.footer-first-text{
    font-size: 12px;
    margin-top: 25px;
    color: rgb(186, 187, 188);
}

.footer-second{
    width: 250px;
    font-size: 20px;
    margin-top: 8px;
}
.footer-second-text{
    font-size: 13px;
    margin-top: 25px;
    color: rgb(186, 187, 188);
}
.footer-second-text ul li{
    margin: 10px;
}
.footer-third{
    width: 250px;
    font-size: 20px;
    margin-top: 8px;
}
.footer-third-text{
    font-size: 12px;
    margin-top: 25px;
    color: rgb(186, 187, 188);
}
.footer-third-text ul li{
    margin: 10px;
}


