body{
    background: url(https://4kwallpapers.com/images/walls/thumbs_3t/25126.jpg) fixed;
    background-size: cover;

}
.Sign-up {
    color: rgb(242, 199, 199);
    background-color: azure;
    font-size: large;
    display: flex;
}